{% extends 'app/base.html' %}

{% block content %}
<h1>Deploy</h1>
<h3>Deploy er en måde at få sin side lagt ud på nettet.<br>
    Der er flere sider, hvor man kan gøre det, men de koster alle noget.<br>
    Skriver de at det er gratis, er det kun for en kort periode.</h3>
    <h3>Her er en liste over nogle sider, hvor det er muligt, men der er mange flere:</h3>
    {% for lin in link %}
    <tk>
        <li><a href= {{lin.link}} target="_blank"class="nav-link active py-3 border-bottom"> {{lin.name}} </a></li>
    </tk>
    {% endfor %}
{% endblock %}