{% extends 'app/base.html' %}
{% block content %}
<h3>Når man vil starte på at kode programmer, er python et godt program at starte med.<br>
    Det er nemt at gå til, og der er mange programmer inden for Python, som er sjove at lege med.<br>
    Python er vigtig at starte med inden man går over til django, som er en del indenfor python. <br>Det er for at lære de mest grundlæggende principper og få den basale viden, inden man går videre.
    <br>I dette program er der nogle link og ideer til apps, som kan være gode at starte med. Men selvfølgelig har Google mange flere. </h3>

{% endblock %}