{% extends 'app/base.html' %}

{% block content %}
<h1><u><i><b><font color= green>Info om mig</font></b></i></u></h1>
<br>
<h3>Jeg startede på kodning i juni 2021, da min daværende leder i slutningen af en sygemelding, stak mig en bog i hånden<br>
om C#. Det fangede hurtigt min interesse, og i løbet af sommereferien gik jeg, efter vi havde snakket om det, over til Python som er noget nemmere.<br>
Da jeg desværre fik et par sygemeldinger mere, var det med til at holde mit humør oppe, <br>
og efter hånden fangede Django også min interesse.<br>
Meget af det jeg har lært er via de sider jeg har lagt ud, apps og youtube videoer.<br>
Man kan godt sige at meget af det jeg har lært er via selvstudio, lidt hjælp fra min leder, og efter hånden har jeg også OpenAI<br>
med ind over når jeg får nogle fejlmeldinger, jeg ikke selv kan klare.<br>
Der er desværre ikke mange sider eller bøger på dansk, Så en sjælden gang har jeg også måtte ty til google translate.
<br>Jeg håber, at der er nogle af siderne der kan fange jeres interesse indenfor kodning.<br>
Python er jo bare et sprog, der er mange andre så som C#, C++ m.m.</h3>
<br><br>
<h3>God fornøjelse</h3>
{% endblock %}