{% extends 'app/base.html' %}

{% block content %}
<style>
    table{
        background-color: green;
        text-align: center;
        color: white;
    }
    h2{
        color: red;
    }
    caption{
        color:blue;
    }

</style>
<h1></h1>
<br>
<h2>Da jeg kan lide at lære nyt,<br>underesøge programmer og lege med pc,<br>har jeg udover kodning,<br>arbejdet med, læst om og taget kurser i forskellige andre programmer. <br> Nogle af dem jeg har arbejdet med er følgende:</h2>
<!--<div id="microsoft">
<h4 font=green><u><b>Microsoft 365</b></u></h4>
    <table>
        <caption>Microsoft 365</caption>
        <thead>
        <tr>
            <th colspan="2">Microsoft </colspan>
            <th colspan="2">365 Apps</th>
            
        </tr>
    </thead>
    <h4>
    <tbody>
        <tr>
            
            <td>Word</td>
            <td>Exel</td>
        </tr>
        <tr>
            <td>Power Point</td>
            <td>Teams</td>
            
        </tr>
        <tr>
            <td>Power Apps</td>
            <td>Sway</td>
            
            
        </tr> 
        <tr>
            <td>OneNote</td>
            <td>List</td>
        </tr>
        <tr>
            <td>Powise Presenter</td>
            <td>Share Point</td>
        </tr>
    </tbody>
</h4>
    </table>
</div>-->
<table class="table table-success table-striped-columns">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col"><b>Microsoft 365</b></th>
          <th scope="col"><b>Skoletube</b></th>
          <th scope="col"><b>Andet</b></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Word</td>
          <td>Wevideo</td>
          <td>Aula (som personale og forældre)</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Power Point</td>
          <td>Codinglap</td>
          <td>Zenbi (som forældre)</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td >Share Point</td>
          <td >Thinglink</td>
          <td>Hurtig Hjælp</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td >Powise Presenter</td>
            <td >H5P: Drag and Drops (tidligere udgave)</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td >Teams</td>
            <td >H5P: Memory Game (tidligere udgave)</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td >Exel</td>
            <td ></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td >Power Apps</td>
            <td ></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td >List</td>
            <td ></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td >Stream</td>
            <td ></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td >Co-Pilot</td>
            <td ></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">11</th>
            <td >OneNote</td>
            <td ></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">12</th>
            <td >Sway</td>
            <td ></td>
            <td></td>
          </tr>
          
      </tbody>
    </table>

{% endblock content %}