{% extends 'app/base.html' %}
{% block content %}
<head>
  <title>PERLER</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
</head>
<body>
  <div class="container mt-3">
  <h2></h2>
  <br>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-bs-toggle="tab" href="#home">Python</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#menu1">Turtle</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#menu2">Tkinter</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#menu3">Matplotlib</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#menu4">Andet</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#menu5"></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#menu6"></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#menu7"></a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="home" class="container tab-pane active"><br>
      
      <font color=green><h1><b><u>PYTON</u></b></h1></font>
      
            <h5>I python er der mange sjove ting man kan lege med.<br>
                Turtle er et tegne program, som også kan udfylde felter<br>
                Tkinter er en start til at lave apps<br>
                Matplotlib er til at lave grafer og diagrammer<br>
                Det er selvfølgelig kun et meget lille udpluk af hvad der findes, <br> og python kan meget mere end jeg lægger op til her.<br>
                I den nye navigations bar ligger der links til nogle af de programmer.<br>
                Her kommer en liste over gode begynder sider og apps.</h5>
                <hr>
                <div class="row justify-content-center mt-1">
                    <div class="col-md-12 col-sm-12 p-4">
                      
                      <div class="row">
                     
                        <!--<div class="col-sm-6">-->
                          <div class="row g-0">
                         
                          {% for pyt in python %}
                         
                            <div class="card-header">
                              <div class='card w-30'>
                                <div class="row g-0">
                                  <div class="col-md-4">
                                    <div class="card" style="width: 18rem;">
                                    
                                        <div class="card-body">
                                          <h5><b><u>App navn: </u></b></h5>
                                          <h5 class="card-title">{{pyt.title}}</h5>
                                          <h5><b><u>Beskrivelse: </u></b></h5>
                                          <p class="card-text">{{pyt.beskriv}}</p>
                                          <h5><b><u>App eller link: </u></b></h5>
                                          <p class="card-text">{{pyt.app_link}}</p>
                                          <h5><b><u>Login:</u></b></h5>
                                          <p class="card-text">{{pyt.login}}</p>
                                         
                                          <h5><b><u>Link:</u></b></h5>
                                          <a class = "btn btn-green"href= {{ pyt.link }} target="_blank" />{{pyt.title}}</a>
                         
                                        </div>
                                    </div>
                                  </div>
                                </div><!---->
                              </div>
                            </div>
                            
                            {% endfor %}
                          </div>
                      </div>
                    </div>
                  </div>
    </div>
    <div id="menu1" class="container tab-pane fade"><br>
           
        <h2><b><i><u>Turtle</u></i></b></h2>
        <h6>Turtle er tegne program, som også kan udfylde felter. <br>Her gælder det om at tegne, og kunne lidt om grader og vinkler</h6>
       
            <div class="container mb-2">
              <div class="row justify-content-center mt-2">
               <div class="col-md-11 col-sm-11 p-1">
                <div class="row g-5">
                 <!-- <div class="col-sm-1">-->


                
                </div> 
            </div>
            <li class="nav-item"> <a href="https://www.javatpoint.com/python-turtle-programming" target="_blank" class="nav-link active py-3 border-bottom"> <i class="#"></i> <small>Turtle</small> </a> </li>
        </div>
    </div>
              </div>
              <div id="menu2" class="container tab-pane fade"><br>
           
                <h2><b><i><u>Tkinter</u></i></b></h2>
                <h6>Dette er bare et forslag til Tkinter.<br>Den er sjov at lege med, og giver et lille indblik i en kommende app</h6>
                <li class="nav-item"> <a href="https://www.pythontutorial.net/tkinter/" target="_blank" class="nav-link active py-3 border-bottom"> <i class="#"></i> <small>Tkinter</small> </a> </li>
                    <div class="container mb-2">
                      <div class="row justify-content-center mt-2">
                       <div class="col-md-11 col-sm-11 p-1">
                        <div class="row g-5">
                         <!-- <div class="col-sm-1">-->
        
        
                        
                       
                      </div>
                    </div> 
                </div>
            </div>
        </div>

                      <div id="menu3" class="container tab-pane fade"><br>
           
                        <h2><b><i><u>Matplotlib</u></i></b></h2>
                        <h6>Matplotlib er til at lave grafer og diagrammer</h6>
                        <li class="nav-item"> <a href="https://matplotlib.org/stable/users/explain/quick_start.html#quick-start" target="_blank" class="nav-link active py-3 border-bottom"> <i class="#"></i> <small>Matplotlib</small> </a> </li>
                            <div class="container mb-2">
                              <div class="row justify-content-center mt-2">
                               <div class="col-md-11 col-sm-11 p-1">
                                <div class="row g-5">
                                 <!-- <div class="col-sm-1">-->
                
                
                                
                               
                              </div>
            </div> 
          </div>
      </div>
      <!--</div> -->
    </div>
</div>
</body>
{% endblock %}