{% extends 'app/base.html' %}

{% block content %}
<br>
<h2><u><b><font color='red'> Terminals/Power shell</font></b></u></h2>
<h3>Det er her man skriver sin kode.<br>
    Nogle af de nok mest kendte er Visuel Studio (VS) som samarbejder med Github.<br>
    Replit kan også samarbejde med Github, men også være alene.<br>Fordelen ved Replit er at den også fås som app,
<br>Så man ikke behøver en pc at arbejde på, og kan skrive uanset, hvor man er.<br>
Mange windows maskiner har også sin egen power shell dowloadet.<br>
Når man downloader Python, er der kommer der også en Power shell</h3>
    <h3>Her er en liste med links, over nogle sider, hvor det er muligt, men der er mange flere:</h3>
    <tk>
        <li><h4><u><a href="https://code.visualstudio.com/" target="_blank" class="nav-link active py-3 border-bottom"> <i class="#"></i> <small>Visual Studio</small> </a></u></h4> </li>
        <li><h4><u><a href="https://github.com/"  target="_blank" class="nav-link active py-3 border-bottom"> <i class="#"></i> <small>Github</small> </a></u></h4> </li>
        <li><h4><u><a href="https://replit.com/" target="_blank" class="nav-link active py-3 border-bottom"> <i class="#"></i> <small>Replit</small> </a></u></h4> </li>
        <li><h4><u><a href="https://www.python.org/" target="_blank" class="nav-link active py-3 border-bottom"> <i class="#"></i> <small>Python</small> </a></u></h4> </li>
    </tk>

{% endblock %}