{% extends 'app/base.html' %}

{% block content %}
<br>
<h2><u><b><font color='red'> Terminals/Power shell</font></b></u></h2>
<h3>Det er her man skriver sin kode.<br>
    Nogle af de nok mest kendte er <b><u>Visuel Studio (VS)</u></b> som samarbejder med Github.<br>
    <b><u>Google Colab</u></b> virker godt med små kode stykker, men ikke med turtle. <br>
    Da den er online kan den bruges på pc, mobil eller tablet.<br>
    <b><u>Replit</u></b> kan også samarbejde med Github, men også være alene.<br>Fordelen ved Replit er at den også fås som app,
<br>Så man ikke behøver en pc at arbejde på, og kan skrive uanset, hvor man er.<br>
Mange windows maskiner har også sin egen <b><u>power </u>></b> dowloadet.<br>
Når man downloader Python, kommer der også en Power shell</h3>
    <h3>Her er en liste med links, over nogle sider, hvor det er muligt, men der er mange flere:</h3>
    <font color=red>
    <tk>
        <li><h3><u><a href="https://code.visualstudio.com/" target="_blank" class="nav-link active py-3 border-bottom"> <i class="#"></i> <small>Visual Studio</small> </a></u></h3> </li>
        <li><h3><u><a href="https://colab.google/" target="_blank" class="nav-link active py-3 border-bottom"> <h6><font color=blue>Brug Notebook</font></h6><i class="#"></i> <small>Google colab</small> </a></u></h3> </li>
        <li><h3><u><a href="https://github.com/"  target="_blank" class="nav-link active py-3 border-bottom"> <i class="#"></i> <small>Github</small> </a></u></h3> </li>
        <li><h3><u><a href="https://replit.com/" target="_blank" class="nav-link active py-3 border-bottom"> <i class="#"></i> <small>Replit</small> </a></u></h3> </li>
        <li><h3><u><a href="https://www.python.org/" target="_blank" class="nav-link active py-3 border-bottom"> <i class="#"></i> <small>Python</small> </a></u></h3> </li>
    </tk>
</font>
{% endblock %}